@use 'webcoreui/config' as *;

.link {
    @include typography(none);

    .card .body {
        @include layout(flex, sm);
        @include spacing(p-sm);
        @include size(fit-content);

        &.secondary {

            img,
            strong,
            div {
                flex: 1;
            }
        }

        &:not(.secondary) {
            @include layout(row);
            align-items: center;
            justify-content: space-around;

            @media (max-width: 425px) {
                @include layout(column);
            }
        }

        img {
            @include size('w25%');

            @media (max-width: 800px) {
                @include size('w50%');
            }
        }

        strong {
            @include visibility(block);
            @include typography(xl);
        }

        strong+div {
            @include typography(hmd);
            @include spacing(mt-xs);
        }

        .cont{
            @include size('w25%');

            @media (max-width: 425px) {
                @include size('w100%');
            }
        }
    }
}